@import url(https://fonts.googleapis.com/css?family=Roboto:400,900,700,500);


.body-text {
    padding: 0 20px 30px 20px;
    font-family: "Roboto";
    font-size: 1em;
    color: #333;
    text-align: center;
    line-height: 1.2em;
}

.form-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5%;
}

.card-wrapper {
    background-color: #6FB7E9;
    width: 100%;
    display: flex;

}

input {
    margin: 1px 0;
    padding-left: 3%;
    font-size: 14px;
}

input[type="text"] {
    display: block;
    height: 50px;
    width: 97%;
    border: none;
}

input[type="email"] {
    display: block;
    height: 50px;
    width: 97%;
    border: none;
}

input[type="submit"] {
    display: block;
    height: 60px;
    width: 100%;
    border: none;
    background-color: #6fa09e;
    color: #fff;
    margin-top: 2px;
    curson: pointer;
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #8DCCCA;
    transition: 0.3s ease;
    color: white;
}

#column-left {
    width: 46.8%;
    float: left;
    margin-bottom: 2px;
}

#column-right {
    width: 46.8%;
    float: right;
}

@media only screen and (max-width: 480px) {
    body {
        width: 100%;
        margin: 0 auto;
    }

    .form-container {
        margin: 0 2%;
    }

    input {
        font-size: 1em;
    }

    #input-button {
        width: 100%;
    }

    #input-field {
        width: 96.5%;
    }

    h1 {
        font-size: 1.2em;
    }

    input {
        margin: 2px 0;
    }

    input[type="submit"] {
        height: 50px;
    }

    #column-left {
        width: 96.5%;
        display: block;
        float: none;
    }

    #column-right {
        width: 96.5%;
        display: block;
        float: none;
    }
}
